.eachcard{
    height:170px;
    width:100%;
    border-radius:5px;
    margin-bottom:15px;
    padding:10px;
    border: 1px solid #d9e0e2;
    transition: all .3s;
    color:#000;
    border-left:5px solid #258da8;;
    background-color: #fff;
    &:hover {
        cursor: pointer;
        box-shadow: 0 15px 20px rgba(0,0,0,0.2);
        transform: translate(0, -3px);
    }
    .eachcard_shopname{
        font-size: 17px;
        text-transform: capitalize;
        i{
            font-size: 24px;
            color: #000;
            margin-right: 10px;
        }
    }
    .eachcard_address{
        
        font-size: 14px;
        i{
            //font-size: 24px;
            color: #000;
            margin-right: 10px;
            vertical-align: top;
        }
        p{
            display: inline-block;
            width: 80%;
        }
    }
    i{
        margin-right: 10px;
    }
}
h2{
    font-weight: bold;
    font-size: 20px;
    color:#000;
}
.filters{
    height:30px;
    width:100px;
    background-color: #fff;
    border:1px solid #ddd;
}