h1{
    font-size:50px;
    color:#000;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 40%;
    height: 84px;
    margin: auto;
    text-align: center;
}